# To minimise change when upgrading to id("uk.gov.justice.hmpps.gradle-spring-boot") version "5.15.6"
# we have suppressed any formatting changes introduced by the updated version of this file, and instead
# are using the formatting rules in place before this upgrade

# Once the upgrade is complete, we can look at using the updated formatting rules, committed via a
# separate PR. See https://dsdmoj.atlassian.net/browse/CAS-453. Once done, we should add this file
# back into .gitignore

[*.kt]
indent_size = 2
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
ktlint_code_style = intellij_idea
ktlint_standard_function-naming = disabled

[*.kts]
indent_size = 2
ktlint_code_style = intellij_idea

[*.java]
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99
ij_java_use_single_class_imports = true
ij_java_insert_inner_class_imports = true
indent_size = 4

[*.html]
indent_size = 2