version: "3"
services:
  database:
    image: "postgres"
    environment:
      - POSTGRES_USER=localdev
      - POSTGRES_PASSWORD=localdev_password
      - POSTGRES_DB=approved_premises_localdev
    volumes:
      - database-data-development:/var/lib/postgresql/data/
    ports:
      - "5431:5432"

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    ports:
      - "9091:8080"
    healthcheck:
      test:
        [ "CMD", "curl", "-f", "http://localhost:8080/auth/health" ]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0
      - SPRING_H2_CONSOLE_SETTINGS_WEBALLOWOTHERS=true

volumes:
  database-data-development:
