{{#isResponseBinary}}org.springframework.web.servlet.mvc.method.annotation.StreamingResponseBody{{/isResponseBinary}}{{^isResponseBinary}}{{#isMap}}Map<String, {{{returnType}}}>{{/isMap}}{{#isArray}}{{#reactive}}Flow{{/reactive}}{{^reactive}}{{{returnContainer}}}{{/reactive}}<{{{returnType}}}>{{/isArray}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}{{/isResponseBinary}}