info.app:
  name: Approved Premises Api
  version: 1.0

spring:
  application:
    name: approved-premises-api
  codec:
    # note that we use configuration in web-clients: for any WebClients we construct ourselves
    max-in-memory-size: 40MB

  jackson:
    date-format: "yyyy-MM-dd HH:mm:ss"
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

  profiles:
    group:
      test:
        - "stdout"

  datasource:
    hikari:
      maximum-pool-size: 20
      connection-timeout: 15000
      leakDetectionThreshold: 20000

  flyway:
    repeatable-sql-migration-prefix: "R"
    sql-migration-prefix: ""
    outOfOrder: true
    locations: classpath:db/migration/all,classpath:db/migration/all-except-integration
    placeholderReplacement: true

  cache:
    # we explicitly define redis as the cache provided as we have
    # ehcache on the classpath for JPA/hibernate, and spring will
    # that by default instead
    type: redis

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        cache:
          use_second_level_cache: true
      javax.cache:
        provider: org.ehcache.jsr107.EhcacheCachingProvider
        uri: hibernate-ehcache.xml
        persistence:
          sharedCache:
            mode: ENABLE_SELECTIVE

  data:
    redis:
      database: 5
      timeout: 60000
      ssl:
        enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${hmpps.auth.url}/.well-known/jwks.json
      client:
        registration:
          delius-backed-apis:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          hmpps-tier:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          prisons-api:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          nomis-user-roles-api:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          probation-offender-search-api:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          case-notes:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
          ap-oasys-context:
            provider: hmpps-auth
            client-id: approved-premises-api
            client-secret: clientsecret
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${hmpps.auth.url}/oauth/token

springdoc:
  swagger-ui:
    urls-primary-name: "All CAS"
  remove-broken-reference-definitions: false
  writer-with-order-by-keys: true

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful
  error:
    include-message: always

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

services:
  hmpps-tier:
    base-url: http://localhost:9004
  prisons-api:
    base-url: http://localhost:9570
  nomis-user-roles-api:
    base-url: http://localhost:9575
  manage-users-api:
    base-url: http://localhost:9560
  probation-offender-search-api:
    base-url: http://localhost:9004
  case-notes:
    base-url: http://localhost:9004
  ap-delius-context-api:
    base-url: http://localhost:8181
  ap-oasys-context-api:
    base-url: http://localhost:9004
  gov-uk-bank-holidays-api:
    base-url: https://www.gov.uk

hmpps:
  auth:
    url: http://localhost:9091/auth

log-client-credentials-jwt-info: false
log-request-response: false

prison-case-notes:
  lookback-days: 365
  prison-api-page-size: 30
  excluded-categories:
    - category: MOVED_CELL
      subcategory: null
    - category: TRANSFER
      subcategory: null
    - category: SENTENCE
      subcategory: null
    - category: PRISON
      subcategory: RELEASE

prison-adjudications:
  prison-api-page-size: 30

caches:
  staffMembers:
    expiry-seconds: 21600
  staffMember:
    expiry-seconds: 21600
  userAccess:
    expiry-seconds: 1200
  staffDetails:
    expiry-seconds: 1200
  teamManagingCases:
    expiry-seconds: 21600
  ukBankHolidays:
    expiry-seconds: 86400
  jwks:
    expiry-seconds: 14400

seed:
  file-prefix: "/tmp/seed"

assign-default-region-to-users-with-unknown-region: false

url-templates:
  api:
    cas1:
      application-submitted-event-detail: http://localhost:3000/events/application-submitted/#eventId
      application-assessed-event-detail: http://localhost:3000/events/application-assessed/#eventId
      booking-made-event-detail: http://localhost:3000/events/booking-made/#eventId
      person-arrived-event-detail: http://localhost:3000/events/person-arrived/#eventId
      person-not-arrived-event-detail: http://localhost:3000/events/person-not-arrived/#eventId
      person-departed-event-detail: http://localhost:3000/events/person-departed/#eventId
      booking-not-made-event-detail: http://localhost:3000/events/booking-not-made/#eventId
      booking-cancelled-event-detail: http://localhost:3000/events/booking-cancelled/#eventId
      booking-changed-event-detail: http://localhost:3000/events/booking-changed/#eventId
      booking-keyworker-assigned-event-detail: http://localhost:3000/events/booking-keyworker-assigned/#eventId
      application-withdrawn-event-detail: http://localhost:3000/events/application-withdrawn/#eventId
      application-expired-event-detail: http://localhost:3000/events/application-expired/#eventId
      assessment-appealed-event-detail: http://localhost:3000/events/assessment-appealed/#eventId
      placement-application-withdrawn-event-detail: http://localhost:3000/events/placement-application-withdrawn/#eventId
      placement-application-allocated-event-detail: http://localhost:3000/events/placement-application-allocated/#eventId
      match-request-withdrawn-event-detail: http://localhost:3000/events/match-request-withdrawn/#eventId
      assessment-allocated-event-detail: http://localhost:3000/events/assessment-allocated/#eventId
      request-for-placement-created-event-detail: http://localhost:3000/events/request-for-placement-created/#eventId
      request-for-placement-assessed-event-detail: http://localhost:3000/events/request-for-placement-assessed/#eventId
      assessment-info-requested-detail: http://localhost:3000/events/further-information-requested/#eventId
    cas2:
      application-submitted-event-detail: http://localhost:3000/events/cas2/application-submitted/#eventId
      application-status-updated-event-detail: http://localhost:3000/events/cas2/application-status-updated/#eventId
    cas3:
      application: http://localhost:3000/applications/#applicationId
      booking: http://localhost:3000/premises/#premisesId/bookings/#bookingId
      booking-cancelled-event-detail: http://localhost:3000/events/cas3/booking-cancelled/#eventId
      booking-cancelled-updated-event-detail: http://localhost:3000/events/cas3/booking-cancelled-updated/#eventId
      booking-confirmed-event-detail: http://localhost:3000/events/cas3/booking-confirmed/#eventId
      booking-provisionally-made-event-detail: http://localhost:3000/events/cas3/booking-provisionally-made/#eventId
      person-arrived-event-detail: http://localhost:3000/events/cas3/person-arrived/#eventId
      person-arrived-updated-event-detail: http://localhost:3000/events/cas3/person-arrived-updated/#eventId
      person-departed-event-detail: http://localhost:3000/events/cas3/person-departed/#eventId
      referral-submitted-event-detail: http://localhost:3000/events/cas3/referral-submitted/#eventId
      person-departure-updated-event-detail: http://localhost:3000/events/cas3/person-departure-updated/#eventId
  frontend:
    application: http://localhost:3000/applications/#id
    application-appeal: http://localhost:3000/applications/#applicationId/appeals/#appealId
    application-timeline: http://localhost:3000/applications/#applicationId?tab=timeline
    assessment: http://localhost:3000/assessments/#id
    booking: http://localhost:3000/premises/#premisesId/bookings/#bookingId
    cas1:
      space-booking: http://localhost:3000/manage/premises/#premisesId/placements/#bookingId
    cas2:
      application: http://localhost:3000/applications/#id
      application-overview: http://localhost:3000/applications/#id/overview
      submitted-application-overview: http://localhost:3000/assess/applications/#applicationId/overview

preemptive-cache-enabled: true
preemptive-cache-key-prefix: ""
preemptive-cache-logging-enabled: false
preemptive-cache-delay-ms: 10000
# 90 minutes
preemptive-cache-lock-duration-ms: 5400000

arrived-departed-domain-events-disabled: true

upstream-timeout-ms: 10000
case-notes-service-upstream-timeout-ms: 25000

web-clients:
  # 0.7MB
  max-response-in-memory-size-bytes: 750000
  # 1.5MB
  probation-offender-search-api-max-response-in-memory-size-bytes: 1572864
  # 2.5 MB
  prison-api-max-response-in-memory-size-bytes: 2621440

pagination:
  default-page-size: 10
  cas3:
    booking-search-page-size: 10

reports:
  jdbc-fetch-size: 200

scheduling:
  enabled: true

feature-flags:

