spring:
  datasource:
    username: localdev
    password: localdev_password
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5431/approved_premises_localdev
  flyway:
    locations: classpath:db/migration/all,classpath:db/migration/local+dev+test,classpath:db/migration/local,classpath:db/migration/all-except-integration
  jpa:
    database: postgresql
  redis:
    host: localhost
    port: 6379
    password: ""

hmpps.sqs:
  provider: localstack
  topics:
    domainevents:
      arn: arn:aws:sns:eu-west-2:000000000000:domainevents

domain-events:
  cas1:
    emit-enabled: true
    async-save-enabled: false
  cas2:
    emit-enabled: true
    async-save-enabled: false
  cas3:
    emit-enabled: bookingCancelled,bookingConfirmed,bookingProvisionallyMade,personArrived,personDeparted,referralSubmitted,personDepartureUpdated,bookingCancelledUpdated,personArrivedUpdated
    async-save-enabled: false

log-client-credentials-jwt-info: true

seed:
  file-prefix: "./seed"
  auto:
    enabled: true
    file-prefixes: classpath:db/seed/local+dev+test
  auto-script:
    enabled: true
    noms: A1234AI

assign-default-region-to-users-with-unknown-region: true
preemptive-cache-logging-enabled: true

data-sources:
  offender-details: community_api
  offender-risks: community_api

user-allocations:
  rules:
    legacy-allocator:
      enabled: true
      priority: 1
    esap-assessments:
      enabled: true
      allocate-to-user: JIMSNOWLDAP
    emergency-assessments:
      enabled: true
      allocate-to-users:
        london: JIMSNOWLDAP
        north-east: JIMSNOWLDAP
        north-west: JIMSNOWLDAP
        midlands: JIMSNOWLDAP
        south-east-eastern: JIMSNOWLDAP
        south-west-south central: JIMSNOWLDAP
        wales: JIMSNOWLDAP
        nat: JIMSNOWLDAP
    reallocated-assessments:
      enabled: true
    female-assessments:
      enabled: true
