version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@8.2.1
  mem: circleci/rememborb@0.0.2
  node: circleci/node@5.2.0
  slack: circleci/slack@4.12.6

parameters:
  alerts-slack-channel:
    type: string
    default: cas-events
  releases-slack-channel:
    type: string
    default: cas-events
  run-security-workflow-on-branch:
    type: boolean
    default: false

executors:
  integration-test-gradle:
    resource_class: medium+
    docker:
      - image: cimg/openjdk:21.0.2
      - image: "postgis/postgis"
        environment:
          - POSTGRES_USER=api_user
          - POSTGRES_PASSWORD=api_user_password
          - POSTGRES_DB=unused
      - image: "bitnami/redis:7.2.5"
        environment:
          - ALLOW_EMPTY_PASSWORD=yes
      - image: localstack/localstack:3.4.0
        environment:
          - SERVICES=sns,sqs
          - DEBUG=${DEBUG- }
          - DOCKER_HOST=unix:///var/run/docker.sock
          - DEFAULT_REGION=eu-west-2
          - ES_PORT_EXTERNAL=4571
          - DATA_DIR=/tmp/localstack/data
  unit-test-gradle:
    resource_class: medium+
    docker:
      - image: cimg/openjdk:21.0.2

jobs:
  generate_trivyignore:
    # Needed to get Trivy to respect the .trivyignore file, as it doesn't use the one that's inside the Docker image.
    docker:
      - image: cimg/openjdk:21.0.2
    resource_class: small
    steps:
      - checkout
      - run:
          name: "Initialise Gradle"
          # Any Gradle command will cause .trivyignore to be generated.
          command: |
            ./gradlew init
      - persist_to_workspace:
          root: .
          paths:
            - .trivyignore
  build_multiplatform_docker_without_publish:
    # Hybrid of the hmpps/build_docker and hmpps/build_multiplatform_docker jobs.
    # Needed for the 'security_branch' workflow as:
    # - the hmpps/build_multiplatform_docker job does not allow for building Docker images without also
    #   publishing to quay.io, which would both clutter the repo with ephemeral builds and set the 'latest' tag to an
    #   image built from a non-main branch.
    # - the hmpps/build_docker job does allow for building Docker images and persisting them locally, but uses the
    #   legacy build system instead of buildx, which would necessitate changes to the Dockerfile, and possibly break
    #   local builds.
    docker:
      - image: cimg/base:stable
    resource_class: small
    parameters:
      image_name:
        type: string
        default: "quay.io/hmpps/${CIRCLE_PROJECT_REPONAME}"
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - hmpps/create_app_version
      - run:
          name: Create IMAGE_NAME env var
          command: |
            IMAGE_NAME="<< parameters.image_name >>"
            echo "export IMAGE_NAME=$IMAGE_NAME" >> $BASH_ENV
      - mem/remember:
          env_var: IMAGE_NAME
          value: "${IMAGE_NAME}"
      - run:
          name: Setup buildx
          command: |
            docker context create multi-arch-build
            docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
            docker run --rm --privileged tonistiigi/binfmt --install all
            docker buildx create --use multi-arch-build --platform linux/arm64,linux/amd64
      - run:
          name: Build container image
          command: |
            docker buildx build \
              --platform linux/amd64 --pull \
              --progress plain \
              --rm=false . \
              --build-arg BUILD_NUMBER=$APP_VERSION \
              --build-arg GIT_REF=$CIRCLE_SHA1 \
              --tag "${IMAGE_NAME}:${APP_VERSION}" \
              --label "maintainer=dps-hmpps@digital.justice.gov.uk" \
              --label "app.version=${APP_VERSION}" \
              --label "build.version=${APP_VERSION}" \
              --label "build.number=${CIRCLE_BUILD_NUM}" \
              --label "build.url=${CIRCLE_BUILD_URL}" \
              --label "build.gitref=${CIRCLE_SHA1}" \
              --output=type=docker
      - run:
          name: Persist container image to workspace
          command: |
            mkdir -p docker_cache
            docker save ${IMAGE_NAME}:${APP_VERSION} -o docker_cache/build_image.tar
      - persist_to_workspace:
          root: .
          paths:
            - docker_cache
  build:
    environment:
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    docker:
      - image: cimg/openjdk:21.0.2
    steps:
      - checkout
      - restore_cache:
          keys:
            - gradle-{{ checksum "build.gradle.kts" }}
            - gradle-
      - run:
          name: Build project
          command: ./gradlew assemble testClasses --build-cache
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - persist_to_workspace:
          root: ~/
          paths:
            - project/*
            - project/**/*
            - .gradle/*
            - .gradle/**/*
  code_linting_check_with_ktlint:
    environment:
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    docker:
      - image: cimg/openjdk:21.0.2
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run ktlintCheck
          command: ./gradlew ktlintCheck
  static_code_analysis_with_detekt:
    environment:
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    docker:
      - image: cimg/openjdk:21.0.2
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run detekt
          command: ./gradlew detekt
  unit_test:
    parallelism: 6
    environment:
      _JAVA_OPTIONS: "-Xmx1g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
    executor:
      name: unit-test-gradle
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run unit tests
          # Use "./gradlew test" instead if tests are not run in parallel
          command: |
            cd src/test/kotlin
            # Get list of classnames of tests that should run on this node
            CLASSNAMES=$(circleci tests glob "**/*Test.kt" \
              | sed '/integration/d' \
              | cut -c 1- | sed 's@/@.@g' \
              | sed 's/.\{3\}$//' \
              | circleci tests split --split-by=timings --timings-type=classname)
            cd ../../..
            # Format the arguments to "./gradlew test"
            GRADLE_ARGS=$(echo $CLASSNAMES | awk '{for (i=1; i<=NF; i++) print "--tests",$i}')
            echo "Prepared arguments for Gradle: $GRADLE_ARGS"
            ./gradlew unitTest --build-cache -x openApiGenerateDomainEvents -x openApiGenerate $GRADLE_ARGS
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests
  integration_test:
    parallelism: 6
    environment:
      _JAVA_OPTIONS: "-Xmx1g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      POSTGRES_PORT: 5432
      SPRING_DATA_REDIS_PORT: 6379
    executor:
      name: integration-test-gradle
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run tests in parallel
          # Use "./gradlew test" instead if tests are not run in parallel
          command: |
            cd src/test/kotlin
            # Get list of classnames of tests that should run on this node
            CLASSNAMES=$(circleci tests glob "**/integration/**/*Test.kt" \
              | cut -c 1- | sed 's@/@.@g' \
              | sed 's/.\{3\}$//' \
              | circleci tests split --split-by=timings --timings-type=classname)
            cd ../../..
            # Format the arguments to "./gradlew test"
            GRADLE_ARGS=$(echo $CLASSNAMES | awk '{for (i=1; i<=NF; i++) print "--tests",$i}')
            echo "Prepared arguments for Gradle: $GRADLE_ARGS"
            ./gradlew integrationTest --build-cache -x openApiGenerateDomainEvents -x openApiGenerate $GRADLE_ARGS
      - save_cache:
          paths:
            - ~/.gradle
          key: gradle-{{ checksum "build.gradle.kts" }}
      - store_test_results:
          path: build/test-results
      - store_artifacts:
          path: build/reports/tests
  cas1_e2e_tests:
    docker:
      - image: mcr.microsoft.com/playwright:v1.41.2-focal
    parallelism: 4
    circleci_ip_ranges: true # opt-in to jobs running on a restricted set of IPs
    steps:
      - run:
          name: Clone E2E repo
          command: |
            git clone https://github.com/ministryofjustice/hmpps-approved-premises-ui.git .
      - run:
          name: Update npm
          command: 'npm install -g npm@9.8.1'
      - node/install-packages
      - run:
          name: Install Playwright
          command: npx playwright install
      - run:
          name: E2E Check
          command: |
            SHARD="$((${CIRCLE_NODE_INDEX}+1))"
            username="HMPPS_AUTH_USERNAME_$SHARD"
            password="HMPPS_AUTH_PASSWORD_$SHARD"
            email="HMPPS_AUTH_EMAIL_$SHARD"
            name="HMPPS_AUTH_NAME_$SHARD"
            HMPPS_AUTH_USERNAME="${!username}"
            HMPPS_AUTH_PASSWORD="${!password}"
            HMPPS_AUTH_EMAIL="${!email}"
            HMPPS_AUTH_NAME="${!name}"
            npm run test:e2e:ci -- --shard=${SHARD}/${CIRCLE_NODE_TOTAL}
      - store_artifacts:
          path: playwright-report
          destination: playwright-report
      - store_artifacts:
          path: test-results
          destination: test-results
      - slack/notify:
          event: fail
          channel: << pipeline.parameters.alerts-slack-channel >>
          template: basic_fail_1
  cas2_e2e_tests:
    docker:
      - image: mcr.microsoft.com/playwright:v1.40.0-focal
    circleci_ip_ranges: true # opt-in to jobs running on a restricted set of IPs
    steps:
      - run:
          name: Clone E2E repo
          command: |
            git clone https://github.com/ministryofjustice/hmpps-community-accommodation-tier-2-ui.git .
      - run:
          name: Update npm
          command: 'npm install -g npm@10.1.0'
      - node/install-packages
      - run:
          name: Install Playwright
          command: npx playwright install
      - run:
          name: Run E2E tests
          command: npm run test:e2e
      - store_artifacts:
          path: e2e-tests/playwright-report
          destination: e2e-tests/playwright-report
      - store_artifacts:
          path: e2e-tests/test_results
          destination: e2e-tests/test_results
      - slack/notify:
          event: fail
          channel: << pipeline.parameters.alerts-slack-channel >>
          template: basic_fail_1
  cas3_e2e_tests:
    parallelism: 5
    circleci_ip_ranges: true # opt-in to jobs running on a restricted set of IPs
    environment:
      CYPRESS_SKIP_AXE: 1
    docker:
      - image: cypress/browsers:node16.14.2-slim-chrome100-ff99-edge
    parameters:
      environment:
        type: string
        default: dev
    steps:
      - run:
          name: Checkout e2e repo
          command: |
            git clone https://github.com/ministryofjustice/hmpps-temporary-accommodation-ui.git .
      - run:
          name: install
          command: apt-get install xz-utils
      - run:
          name: Update npm
          command: 'npm install -g npm@9.8.1'
      - node/install-packages
      - run:
          name: E2E Check - << parameters.environment >>
          command: |
            TESTS=$(circleci tests glob "e2e/tests/*.feature" | circleci tests split --split-by=timings | paste -sd ',')
            npm run test:e2e:ci --\
              --env "assessor_username=${CYPRESS_ASSESSOR_USERNAME_<< parameters.environment >>},assessor_password=${CYPRESS_ASSESSOR_PASSWORD_<< parameters.environment >>},referrer_username=${CYPRESS_REFERRER_USERNAME_<< parameters.environment >>},referrer_password=${CYPRESS_REFERRER_PASSWORD_<< parameters.environment >>},acting_user_probation_region_id=${CYPRESS_ACTING_USER_PROBATION_REGION_ID_<< parameters.environment >>},acting_user_probation_region_name=${CYPRESS_ACTING_USER_PROBATION_REGION_NAME_<< parameters.environment >>},environment=${CYPRESS_ENVIRONMENT_<< parameters.environment >>}"\
              --config baseUrl=https://temporary-accommodation-<< parameters.environment >>.hmpps.service.justice.gov.uk \
              --spec $TESTS
      - store_artifacts:
          path: e2e/screenshots
          destination: screenshots
      - store_artifacts:
          path: e2e/videos
          destination: videos
  trigger_ui_github_action:
    machine:
      image: ubuntu-2204:current
      resource_class: arm.medium
    steps:
      - run:
          name: Trigger UI GitHub Actions workflow
          command: |
            curl -X POST \
              -H "Authorization: token $GITHUB_TOKEN" \
              -H "Accept: application/vnd.github.v3+json" \
              https://api.github.com/repos/ministryofjustice/hmpps-temporary-accommodation-ui/actions/workflows/generate-types.yml/dispatches \
              -d '{"ref":"main"}'        

workflows:
  version: 2
  build-test-and-deploy:
    jobs:
      - build
      - code_linting_check_with_ktlint:
          requires:
            - build
      - static_code_analysis_with_detekt:
          requires:
            - build
      - unit_test:
          filters:
            tags:
              ignore: /.*/
          requires:
            - build
      - integration_test:
          filters:
            tags:
              ignore: /.*/
          requires:
            - build
      - hmpps/helm_lint:
          name: helm_lint
      - hmpps/build_multiplatform_docker:
          name: build_docker
          filters:
            branches:
              only:
                - main
      - hmpps/deploy_env:
          name: deploy_dev
          env: "dev"
          context: hmpps-common-vars
          jira_update: true
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          filters:
            branches:
              only:
                - main
          requires:
            - build_docker
            - helm_lint
      - trigger_ui_github_action:
          requires:
            - deploy_dev
      - request-test-approval:
          type: approval
          requires:
            - deploy_dev
      - hmpps/deploy_env:
          name: deploy_test
          env: "test"
          context:
            - hmpps-common-vars
            - hmpps-approved-premises-api-stage
          requires:
            - request-test-approval
      - request-preprod-approval:
          type: approval
          requires:
            - cas1_e2e_tests
            - cas2_e2e_tests
            - cas3_e2e_tests
      - hmpps/deploy_env:
          name: deploy_preprod
          env: "preprod"
          jira_update: true
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          slack_notification: true
          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
          context:
            - hmpps-common-vars
            - hmpps-approved-premises-api-preprod
          requires:
            - request-preprod-approval
      - request-prod-approval:
          type: approval
          requires:
            - deploy_preprod
      - hmpps/deploy_env:
          name: deploy_prod
          env: "prod"
          jira_update: true
          pipeline_id: <<pipeline.id>>
          pipeline_number: <<pipeline.number>>
          slack_notification: true
          slack_channel_name: << pipeline.parameters.releases-slack-channel >>
          context:
            - hmpps-common-vars
            - hmpps-approved-premises-api-prod
          requires:
            - request-prod-approval
      - cas1_e2e_tests:
          context:
            - hmpps-common-vars
            - hmpps-community-accommodation
            - approved-premises-ui-e2e
          requires:
            - deploy_dev
      - cas2_e2e_tests:
          context:
            - hmpps-common-vars
            - hmpps-community-accommodation
          requires:
            - deploy_dev
      - cas3_e2e_tests:
          context:
            - hmpps-common-vars
            - hmpps-community-accommodation
          requires:
            - deploy_dev
  security:
    triggers:
      - schedule:
          cron: "11 5 * * 1-5"
          filters:
            branches:
              only:
                - main
    jobs:
      - generate_trivyignore:
          name: generate_trivyignore
      - hmpps/gradle_owasp_dependency_check:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          jdk_tag: "21.0"
          context:
            - hmpps-common-vars
      - hmpps/trivy_latest_scan:
          pre-steps:
            - attach_workspace:
                at: ~/trivyetc
          additional_args: --ignorefile ~/trivyetc/.trivyignore
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - hmpps-common-vars
          requires:
            - generate_trivyignore
      - hmpps/veracode_pipeline_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars
  security-branch:
    # Mimics the 'security' workflow, but can be manually triggered on any branch.
    when: << pipeline.parameters.run-security-workflow-on-branch >>
    jobs:
      - generate_trivyignore:
          name: generate_trivyignore
      - build_multiplatform_docker_without_publish:
          name: build_docker
          image_name: hmpps-approved-premises-api
      - hmpps/gradle_owasp_dependency_check:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          jdk_tag: "21.0"
          context:
            - hmpps-common-vars
      - hmpps/trivy_pipeline_scan:
          context:
            - hmpps-common-vars
          requires:
            - build_docker
            - generate_trivyignore
  security-weekly:
    triggers:
      - schedule:
          cron: "0 5 * * 1"
          filters:
            branches:
              only:
                - main
    jobs:
      - hmpps/veracode_policy_scan:
          slack_channel: << pipeline.parameters.alerts-slack-channel >>
          context:
            - veracode-credentials
            - hmpps-common-vars
