---
# Per environment values which override defaults in approved-premises-api/values.yaml

generic-service:
  serviceAccountName: hmpps-community-accommodation-api-service-account

  ingress:
    host: approved-premises-api-preprod.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-approved-premises-api-preprod-cert

  env:
    SPRING_PROFILES_ACTIVE: preprod
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.nonprod.json
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    SERVICES_COMMUNITY-API_BASE-URL: https://community-api.pre-prod.delius.probation.hmpps.dsd.io
    SERVICES_AP-DELIUS-CONTEXT-API_BASE-URL: https://approved-premises-and-delius-preprod.hmpps.service.justice.gov.uk
    SERVICES_ASSESS-RISKS-AND-NEEDS-API_BASE-URL: https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk
    SERVICES_HMPPS-TIER_BASE-URL: https://hmpps-tier-preprod.hmpps.service.justice.gov.uk
    SERVICES_PRISONS-API_BASE-URL: https://api-preprod.prison.service.justice.gov.uk
    SERVICES_NOMIS-USER-ROLES-API_BASE-URL: https://nomis-user-pp.aks-live-1.studio-hosting.service.justice.gov.uk
    SERVICES_CASE-NOTES_BASE-URL: https://preprod.offender-case-notes.service.justice.gov.uk
    SERVICES_AP-OASYS-CONTEXT-API_BASE-URL: https://approved-premises-and-oasys-preprod.hmpps.service.justice.gov.uk
    SERVICES_MANAGE-ADJUDICATIONS-API_BASE-URL: https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk
    SERVICES_GOV-UK-BANK-HOLIDAYS-API_BASE-URL: https://www.gov.uk
    SPRING_FLYWAY_LOCATIONS: classpath:db/migration/all,classpath:db/migration/all-except-integration
    LOG-CLIENT-CREDENTIALS-JWT-INFO: true
    SENTRY_ENVIRONMENT: preprod
    CACHES_STAFFMEMBERS_EXPIRY-SECONDS: 20
    DOMAIN-EVENTS_CAS1_EMIT-ENABLED: true
    DOMAIN-EVENTS_CAS3_EMIT-ENABLED: false
    HMPPS_SQS_USE_WEB_TOKEN: true
    MANUAL_BOOKINGS_DOMAIN_EVENTS_DISABLED: false

    URL-TEMPLATES_FRONTEND_APPLICATION: https://approved-premises-preprod.hmpps.service.justice.gov.uk/applications/#id
    URL-TEMPLATES_FRONTEND_ASSESSMENT: https://approved-premises-preprod.hmpps.service.justice.gov.uk/assessments/#id
    URL-TEMPLATES_FRONTEND_BOOKING: https://approved-premises-preprod.hmpps.service.justice.gov.uk/premises/#premisesId/bookings/#bookingId
    URL-TEMPLATES_API_CAS1_APPLICATION-SUBMITTED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/application-submitted/#eventId
    URL-TEMPLATES_API_CAS1_APPLICATION-ASSESSED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/application-assessed/#eventId
    URL-TEMPLATES_API_CAS1_BOOKING-MADE-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/booking-made/#eventId
    URL-TEMPLATES_API_CAS1_PERSON-ARRIVED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/person-arrived/#eventId
    URL-TEMPLATES_API_CAS1_PERSON-NOT-ARRIVED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/person-not-arrived/#eventId
    URL-TEMPLATES_API_CAS1_PERSON-DEPARTED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/person-departed/#eventId
    URL-TEMPLATES_API_CAS1_BOOKING-NOT-MADE-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/booking-not-made/#eventId
    URL-TEMPLATES_API_CAS1_BOOKING-CANCELLED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/booking-cancelled/#eventId
    URL-TEMPLATES_API_CAS1_BOOKING-CHANGED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/booking-changed/#eventId
    URL-TEMPLATES_API_CAS1_APPLICATION-WITHDRAWN-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/application-withdrawn/#eventId
    URL-TEMPLATES_API_CAS3_PERSON-ARRIVED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/cas3/person-arrived/#eventId
    URL-TEMPLATES_API_CAS3_PERSON-DEPARTED-EVENT-DETAIL: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/cas3/person-departed/#eventId

  namespace_secrets:
    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_DOMAINEVENTS_ARN: "topic_arn"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev

env_details:
  production_env: false