---
# Per environment values which override defaults in approved-premises-api/values.yaml

generic-service:
  ingress:
    host: approved-premises-api-preprod.hmpps.service.justice.gov.uk
    tlsSecretName: hmpps-approved-premises-api-preprod-cert

  env:
    SPRING_PROFILES_ACTIVE: preprod
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.nonprod.json
    HMPPS_AUTH_URL: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    SERVICES_COMMUNITY-API_BASE-URL: https://community-api.pre-prod.delius.probation.hmpps.dsd.io
    SERVICES_AP-DELIUS-CONTEXT-API_BASE-URL: https://approved-premises-and-delius-preprod.hmpps.service.justice.gov.uk
    SERVICES_ASSESS-RISKS-AND-NEEDS-API_BASE-URL: https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk
    SERVICES_HMPPS-TIER_BASE-URL: https://hmpps-tier-preprod.hmpps.service.justice.gov.uk
    SERVICES_PRISONS-API_BASE-URL: https://api-preprod.prison.service.justice.gov.uk
    SERVICES_CASE-NOTES_BASE-URL: https://preprod.offender-case-notes.service.justice.gov.uk
    SERVICES_AP-OASYS-CONTEXT-API_BASE-URL: https://approved-premises-and-oasys-preprod.hmpps.service.justice.gov.uk
    SPRING_FLYWAY_LOCATIONS: classpath:db/migration/all
    LOG-CLIENT-CREDENTIALS-JWT-INFO: true
    SENTRY_ENVIRONMENT: preprod
    CACHES_STAFFMEMBERS_EXPIRY-SECONDS: 20
    APPLICATION-URL-TEMPLATE: https://approved-premises-preprod.hmpps.service.justice.gov.uk/applications/#id
    APPLICATION-SUBMITTED-DETAIL-URL-TEMPLATE: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/application-submitted/#eventId
    APPLICATION-ASSESSED-DETAIL-URL-TEMPLATE: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/application-assessed/#eventId
    BOOKING-MADE-DETAIL-URL-TEMPLATE: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/booking-made/#eventId
    PERSON-ARRIVED-DETAIL-URL-TEMPLATE: https://approved-premises-api-preprod.hmpps.service.justice.gov.uk/events/person-arrived/#eventId
    DOMAIN-EVENTS_EMIT-ENABLED: false

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: digital-prison-service-dev
