name: Deploy to test

on:
  workflow_dispatch:
    inputs:
      wipe_database:
        description: 'Wipe test database'
        required: false
        default: false
        type: boolean

jobs:
  docker_build:
    name: Build docker image from hmpps-github-actions
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2
    with:
      docker_registry: 'ghcr.io'
      registry_org: 'ministryofjustice'
      push: true
      docker_multiplatform: false
      tag_latest: false

  deploy_test:
    name: Deploy to the test environment
    needs:
      - docker_build
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2
    secrets: inherit
    with:
      environment: 'test'
      app_version: '${{ needs.docker_build.outputs.app_version }}'
      show_changelog: false
      helm_additional_args: ${{ inputs.wipe_database == true && '--set-literal "generic-service.env.SPRING_FLYWAY_LOCATIONS=classpath:db/migration/all,classpath:db/migration/dev+test,classpath:db/migration/dev-truncate,classpath:db/migration/dev,classpath:db/migration/all-except-integration"' || '' }}
